/*
	jsrepo 1.29.1
	Installed from https://reactbits.dev/default/
	30-01-2025
*/

.squares-canvas {
  width: 100%;
  height: 100vh;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
